.rake_tasks
config/database.yml
log/*.log
tmp/**/*
themes/*
db/schema.rb
.DS_Store
*.sqlite3
public/uploads
public/uploads/*
public/attachments/*
public/imports/*
public/main_images/*
public/thumbnail_images/*
public/group_maps_uploads/*
tmp
lib/tasks/custom.rake
config/custom.yml
/test
Thumbs.db
.loadpath