#result-message
	%h4 Make your own connections. View the summaries below...
#electeds
	%h2.result-heading Members of Congress
	.result-entry-alpha
		%h5.result-entry-heading Nancy Pelosi
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

	.result-entry
		%h5.result-entry-heading Harry Reid
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

	.result-entry
		%h5.result-entry-heading Harry Reid
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

	.result-entry
		%h5.result-entry-heading Harry Reid
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

	.result-entry-omega
		%h5.result-entry-heading Jim Webb
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco adipisicing elit, sed do eiusmod tempor ncididunt ut labor.

	.result-entry-alpha
		%h5.result-entry-heading Nancy Pelosi
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

	.result-entry
		%h5.result-entry-heading Harry Reid
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

	.result-entry
		%h5.result-entry-heading Harry Reid
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

	.result-entry
		%h5.result-entry-heading Harry Reid
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

	.result-entry-omega
		%h5.result-entry-heading Jim Webb
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco adipisicing elit, sed do eiusmod tempor ncididunt ut labor.

#lobbyists
	%h2.result-heading Lobbyists
	
#companies
	%h2.result-heading Companies
	
#organizations
	%h2.result-heading Organizations
	
#text
	%h2.result-heading Source	